<a href="https://colab.research.google.com/github/allyj92/deeplearning/blob/main/01_Series_ipynb%EC%9D%98_%EC%82%AC%EB%B3%B8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd

# 공식 가이드
# https://pandas.pydata.org/pandas-docs/stable/user_guide/10min.html

In [2]:
pd.__version__

'2.2.2'

# Series

- 인덱스(레이블)이 있는 1차원 배열

- numpy 배열과 다르게 열 방향이 기본이며 일종의 열벡터로 간주할 수 있음

In [3]:
# 넘파이 1차원 어레이 , 행과 열
a = np.array([1,2,3,4,5,6])
a.reshape(-1,1)

array([[1],
       [2],
       [3],
       [4],
       [5],
       [6]])

- 시리즈 만들기

In [4]:
# 판다스 시리즈
data = pd.Series([1,2,3,4,5,6])
data

# 넘파이와 다른점은 인덱스가 명시적으로 보인다!![중요]
# 자동으로 0부터 시작하는 숫자 인덱스가 만들어짐

0    1
1    2
2    3
3    4
4    5
5    6
dtype: int64

## index

- 데이터를 식별하기 위한 값으로 넘파이 어레이와 다르게 사용자가 직접 지정 할 수 있음

In [5]:
# 인덱스 확인, 인덱스도 객체
data.index

RangeIndex(start=0, stop=6, step=1)

- 인덱스를 이용하여 값을 조회

In [7]:
data[0], data[5]

(1, 6)

- 직접 인덱스를 지정해서 만들 수 있음

In [8]:
# 인덱스를 인위적으로 주고 명시적 인덱스를 만들 수 있다.
data = pd.Series([1,2,3,4,5], index = [1,2,3,4,5])
data

1    1
2    2
3    3
4    4
5    5
dtype: int64

- 데이터를 참조하기 위해 사용하는 인덱스는 기본적으로 중복되는 값이 없어야 하지만 데이터 분석의 특성상 pandas는 인덱스가 중복되는 것을 허용

In [10]:
# 인덱스는 유일해야 한다???

data = pd.Series([1,2,3,4,5], index = [1,2,3,4,4])
data
# 인덱싱하면 값이 두게 나옴
data[4]

4    4
4    5
dtype: int64

- 다음처럼 인덱스를 문자로도 줄 수 있는데 데이터를 다루는 자료이기 때문에 이것은 자연스러운 기능이라 할 수 있음

- 주민등록번호에 그 사람의 신상이 기록된 테이블을 생각해보면 주민등록번호라는 텍스트 정보가 인덱스가 될 수 있다는 것을 쉽게 이해할 수 있음

In [13]:
# 인위적으로 인덱스를 바꿀 수 있습니다.
data.index = ['a','b','c','d','e']
data

a    1
b    2
c    3
d    4
e    5
dtype: int64

In [14]:
# 숫자와 다를게 없는 문자 인덱스
data['a'], data['b']

(1, 2)

### 슬라이싱

In [15]:
data1 = pd.Series([1,2,3,4,5])
data2 = pd.Series([1,2,3,4,5], index=['a','b','c','d','e'])

In [18]:
# 숫자 인덱스를 가지는 시리즈의 슬라이싱
data1[0:3]

0    1
1    2
2    3
dtype: int64

In [19]:
# 문자 인덱스를 가지는 시리즈의 슬라이싱
data2['a':'d']

a    1
b    2
c    3
d    4
dtype: int64

### 숫자 인덱스는 사라졌나?

- 다음 셀을 실행해보면 명시적으로 보이는 인덱스가 아니더라도 숫자로 인덱싱이 되는 것을 확인 가능

In [20]:
# 문자 인덱스를 가지는 시리즈에 대하 숫자 슬라이싱
data2[0:3]

a    1
b    2
c    3
dtype: int64

### 연습

- 인덱스와 값을 다음처럼 가지는 시리즈 만들어보기
    - 인덱스: 2024-04-01, 2024-04-02, 2024-04-03
    - 값: 100, 200, 300

In [23]:
value = [100,200,300]
data3 = pd.Series(data = value, index=['2024-04-01','2024-04-02','2024-04-03'])

data3

2024-04-01    100
2024-04-02    200
2024-04-03    300
dtype: int64

In [25]:
data3['2024-04-01'],data3[0]

<ipython-input-25-773d56d622a0>:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  data3['2024-04-01'],data3[0]

(100, 100)

### 명시적 인덱스? 암시적 인덱스?

- 좀 전에 확인한것 처럼 문자로 인덱스를 부여한 시리즈에 숫자로 인덱싱을 할 수 있었습니다.

- 명시적으로 인덱스를 지정한 경우 이 인덱스를 명시적 인덱스 또는 레이블이라 하고 지정하지 않아도 숫자로 동작하는 인덱스를 암시적 인덱스 또는 그냥 인덱스라고 합니다.

- 다음은 명시적 인덱스를 숫자로 지정한 경우입니다.

In [26]:
data = pd.Series([1,2,3,4,5], index=[1,2,3,4,5])
data[1]

1

- 이렇게 숫자로 명시적 인덱스(또는 레이블)를 지정하면 암시적인 인덱스를 사용해서 인덱싱할 수 없습니다!!

- 조금 이상한 경우지만 이 경우 똑같은 숫자가 경우에 따라 두가지 인덱로 작동할 수는 없다는 것을 알 수 있습니다.

In [ ]:
# 인덱싱은 명시적 인덱스를 사용한다.
# data[1]은 명시적 인덱스에서 1인가 암시적 인덱스에서 1인가?

In [27]:
# 다음은 에러를 냅니다.
# 숫자로 인덱스를 주면 눈에 보이는(명시적) 인덱스를 조회하기 때문에
# 에러가 남
data[0]

KeyError: 0

- 하지만 이 경우 슬라이싱을 해보면?

In [28]:
data[0:2]

1    1
2    2
dtype: int64

In [29]:
data[1:3]

2    2
3    3
dtype: int64

### 연습

- 다음 만들어진 세 시리즈에 대해서 주어진 인덱싱과 슬라이싱을 수행하시오.

In [30]:
s_basic = pd.Series(data=range(10))
s_number = pd.Series(data=range(10), index=range(1,11))
s_char = pd.Series(data=range(10), index=[f"idx_{str(i)}" for i in range(1, 11)])

In [32]:
print(s_basic)

# 1. 값 5를 조회하시오.

s_basic[5]
# 2. 값 4에서 7을 가져오시오.
s_basic[4:8]

0    0
1    1
2    2
3    3
4    4
5    5
6    6
7    7
8    8
9    9
dtype: int64

4    4
5    5
6    6
7    7
dtype: int64

In [36]:
print(s_number)

# 1. 값 5를 조회하시오.

s_number[6]
# 2. 값 4에서 7을 가져오시오.
s_number[4:8]

1     0
2     1
3     2
4     3
5     4
6     5
7     6
8     7
9     8
10    9
dtype: int64

5    4
6    5
7    6
8    7
dtype: int64

In [41]:
print(s_char)

# 1. 값 5를 숫자 인덱스, 문자 인덱스를 써서 조회하시오.
s_char['idx_6']

# 2. 값 4에서 7을 숫자 인덱스, 문자 인덱스를 써서 가져오시오.
s_char['idx_5':'idx_8']

idx_1     0
idx_2     1
idx_3     2
idx_4     3
idx_5     4
idx_6     5
idx_7     6
idx_8     7
idx_9     8
idx_10    9
dtype: int64

idx_5    4
idx_6    5
idx_7    6
idx_8    7
dtype: int64

## Data Type

- 시리즈를 만들 때 데이터 타입을 지정할 수 있습니다.

-  np.int16, np.int32, np.int64, np.float16, np.float32, np.float64 처럼 numpy형식으로 지정할 수 도 있고 float, int로 지정할 수도 있습니다.

- 올바른 데이터 형식을 지정하면 동일한 데이터를 저장하더라도 메모리를 아낄 수 있습니다.

In [ ]:
# 데이터 타입 지정

In [ ]:
# np.int16으로 변환

### 연습

- 다음 조건으로 시리즈를 만들어 보세요.
```
    - index: a, b, c, d
    - value: 100, 200, 300, 400
    - dtype: np.int32
```

In [ ]:
test_s =

- `test_s` 시리즈에 다음과 같은 결과를 숫자 인덱스를 사용해서 수행하세요.

```
# 문자 인덱스 사용
b    200
c    300
dtype: int32

b    200
c    300
d    400
dtype: int32

# 숫자 인덱스 사용
b    200
c    300
dtype: int32

b    200
c    300
d    400
dtype: int32
```

In [ ]:
# 문자인 명시적 인덱스를 이용한 슬라이스

# 숫자인 암시적 인덱스를 이용한 슬라이스

## 정렬된 사전으로써 Series

- 사전으로 부터 시리즈를 만들 수 있습니다. 사전은 정렬되지 않지만 시리즈는 값 또는 인덱스로 정렬할 수 있습니다.

- 사전의 키는 인덱스가 되고 벨류는 값이 되는 식으로 만들어 집니다.

In [ ]:
# 사전을 시리즈에 전달하면 키가 인덱스 벨류가 값이 되는 시리즈가 생성
population_dict = {'seoul':9741383, 'busan':3416918,
                   'daegu':2453041, 'inchon':2925967}
pop =
pop

In [ ]:
# 명시적 인덱싱

In [ ]:
# 암시적 인덱싱

In [ ]:
# 문자열로 지정된 명시적 인덱스를 사용해서 슬라이싱

In [ ]:
# 암시적 정수 인덱스를 사용하여 슬라이싱

In [ ]:
# 인덱스를 활용한 데이터의 추가
# 없는 인덱스로 데이터를 조회할 순 없지만 추가할 순 있다.

- 시리즈를 사전으로 벼환

In [ ]:
# 방법 1

In [ ]:
# 방법 2

### 정렬

- 인덱스로 정렬: `sort_index(ascending=True|False)`
- 값으로 정렬: `sort_values(ascending=True|False)`

In [ ]:
# 인덱스로 정렬

In [ ]:
# 값으로 정렬

- 판다스에서 대부분 함수들은 작용하는 객체에 영향일 미치지 않고 함수가 작용된 결과를 되돌려 줍니다.

In [ ]:
# 인덱스 정렬 정렬후 확인하면 정렬이 안되어 있음

In [ ]:
# 정렬 결과 업데이트

### 연습

- 다음 시리즈를
    - 1. 인덱스 오름차순으로 정렬하세요.
    - 2. 값 내림차순으로 정렬하세요.

In [ ]:
data = pd.Series([3, 1, 4, 1, 5], index=[5, 3, 4, 1, 2])

In [ ]:
# 인덱스 오름차순 정렬

In [ ]:
# 값 내림차순 정렬

## 시리즈 연산

- 시리즈의 연산은 요소별로 작용한다는 점은 numpy와 비슷하나 결정적으로 다른 점이 몇가지 있습니다. 아래 예를 보면서 직접 확인해보겠습니다.

In [ ]:
# 넘파이에서 연산

In [ ]:
#시리즈 연산, 암시적 인덱스라면 엘리먼트끼리 연산

In [ ]:
# 명시적 인덱스라면 인덱스가 같은 것끼리 연산

- 브로드 캐스팅도 지원

In [ ]:
# 브로드캐스팅

- 각종 통계 연산 지원

In [ ]:
# 각종 통계값 연산, 평균, 분산, 표준편차

- 데이터에 비어있는 값(NaN)이 있는 경우 무시하고 계산

In [ ]:
# NaN(Not a Number)이 있어도 무시하고 계산

- 하지만 numpy는 계산 불가

In [ ]:
# 넘파이는 NaN있음 계산 불가

In [ ]:
# skipna 옵션을 주면 nan을 스킵하지 않고 계산

- 인덱스가 완전히 일치하지 않아도 최대한 맞는 인덱스끼리 연산

In [ ]:
# 인덱스가 완전히 일치하지 않아도 최대한 맞는 인덱스끼리 연산

- 개수가 일치하지 않아도 인덱스를 기준으로 연산

In [ ]:
# 양쪽 시리즈의 개수가 맞지 않아도 인덱스 맞는 것끼리 연산

### 연습

- 다음 자료를 이용하여 `students`를 인덱스로 `scores`를 값으로 하는 시리즈를 만들고 시험 점수의 평균을 구하세요.

In [ ]:
students = ['영수', '지민', '철수', '길동', '혜정', '수정']
scores = [89, 80, 92, 78, 75, 94]

## 불린 인덱싱, 어레이 인덱싱

In [ ]:
# 불린 인덱싱

- 조건이 2개 이상일 경우 &(and)와 or |(or)를 이용해서 조건 결합 가능

In [ ]:
# 조건 2개 이상, 괄호 꼭 필요

In [ ]:
# 주로 컨디션 변수를 사용

### 연습

- 다음 조건에 맞도록 `s`에서 값을 추출하세요.

In [ ]:
# s에 대해서 or -> |,  3보다 같거나 작다 또는 7보다 같거나 크다[*]

- 인덱스값을 리스트로 묶어서 여러 값을 조회 가능

- 어레이 인덱스를 사용하여 값을 한꺼번에 치환 가능

##종합 연습

In [ ]:
students = ['영수', '지민', '철수', '길동', '혜정', '수정', '대만', '형석', '민준', '민석']
scores = [89, 80, 92, 78, 75, 94, 39, None, 95, 83]

In [ ]:
# 1. 인덱스를 학생이름, 값으로 시험점수를 가지는 시리즈 만들기

In [ ]:
# 2. 시험 점수의 평균점과 표준편차를 구하기

In [ ]:
# 3. 시험점수의 최댓값과 최솟값을 구하기

In [ ]:
# 4. 40점 초과 학생만 선택하기

In [ ]:
# 5. 40점 초과  80점 미만 학생에 대한 평균과 표준편차 구하기